# The scrolling pattern terminal lays out display slots dynamically, as AE2 does.
public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos
